<section class="landing-section bg-black text-center h-screen w-full relative overflow-hidden z-30" data-header-color = 'black'>

    <div class="relative z-20 flex flex-col items-center h-screen">
        <h1 class="text-gray-800 font-semibold text-5xl leading-[50px] mt-36 mb-2 ">Accessories</h1>
        <div class="grow flex flex-col justify-end mb-6">
            <div class="md:[&>a]:mr-6 flex flex-col md:block gap-y-4 items-center justify-center mb-2">
                <a href="#" class="text-gray-600  bg-white duration-300 rounded-md py-2 px-20 text-[16px] font-[500]">Shop Now</a>
            </div>
            <footer class="[&>a]:text-white [&>a]:text-sm [&>a]:ml-4 mt-20">
                <a href="#">Tesla © 2024</a>
                <a href="#">Privacy & Legacy</a>
                <a href="#">Vehicle Recalls</a>
                <a href="#">Contact</a>
                <a href="#">News</a>
                <a href="#">Get Updates</a>
                <a href="#">Locations</a>
            </footer>
        </div>
    </div>
    <div class="absolute top-0 bottom-0 z-10">
        <img  class="object-center object-cover h-full w-screen" src="./accessories.avif"></video>
    </div>
</section>