<section class="bg-black h-screen relative w-full overflow-hidden z-30">

    <div class="absolute z-20 left-12 top-[34em]">
        <h2 class="text-white font-semibold text-5xl leading-[50px] mt-1 max-w-[700px] text-pretty">Model Y Starting at $36,490 After Federal Tax Credit</h2>
        <p class="text-white text-base font-semibold max-w-[640px] mt-4">Eligible buyers qualify for a $7,500 federal tax credit. Applied at time of Model Y delivery. <strong class="font-light decoration-1 underline">See Details</strong></p>
        <a href="#" class="text-gray-800  bg-white hover:bg-gray-200 duration-300 rounded-sm py-1 px-12 text-[18px] font-[500] inline-block mt-8">Shop avaible</a>
    </div>
    <div class="absolute top-0 bottom-0 z-10">
        <video class="object-center object-cover h-full w-screen" loop autoplay muted src="/Homepage-Help-Me-Choose-Promo-Desktop-v2.webm"></video>
    </div>
</section>