<section class="bg-black text-center h-screen w-full relative overflow-hidden z-30">

    <div class="relative z-20 flex flex-col items-center h-screen">
        <h1 class="text-gray-700 font-semibold text-5xl leading-[50px] mt-40 max-w-[700px] text-pretty">Model 3</h1>
        <div>
            <p class="text-gray-600  font-semibold text-[21px] -mb-1">Lease starting at $329/mo*</p>
            <span class="text-gray-500 text-xs font-semibold">Reengineered</span>
        </div>
        <div class="grow flex flex-col justify-end mb-8">
            <div class="[&>a]:mr-6">
                <a href="#" class="text-gray-800  bg-white duration-300 rounded-md py-2 px-20 text-[16px] font-[500]">Custom Order</a>
                <a href="#" class="text-white bg-[#5d5b5a] duration-300 rounded-md py-2 px-20 text-[16px] font-[500]">Demo Drive</a>
            </div>
            <span class="text-gray-600 mt-6 text-xs">*Excludes taxes and fees with price subject to change. Available in select states. See Details</span>
        </div>
    </div>
    <div class="absolute top-0 bottom-0 z-10">
        <img  class="object-center object-cover h-full w-screen" src="./model-3.avif"></video>
    </div>
</section>