<section class="bg-black text-center h-screen w-full relative overflow-hidden z-30">

    <div class="relative z-20 flex flex-col items-center h-screen">
        <h1 class="text-gray-700 font-semibold text-5xl leading-[50px] mt-40 max-w-[700px] text-pretty">Model X</h1>
        <div>
            <p class="text-gray-600  font-semibold text-[21px] -mb-1">From $68,590*</p>
            <span class="text-gray-500 text-xs font-semibold">After Federal Tax Credit & Est. Gas Savings</span>
        </div>
        <div class="grow flex flex-col justify-end mb-8">
            <div class="[&>a]:mr-6">
                <a href="#" class="text-gray-600  bg-gray-100 bg-opacity-[0.8] duration-300 rounded-md py-2 px-20 text-[16px] font-[500]">Custom Order</a>
                <a href="#" class="text-white bg-[#2b2b30] duration-300 rounded-md py-2 px-20 text-[16px] font-[500]">Demo Drive</a>
            </div>
            <span class="text-gray-500 mt-6 text-xs">*Price before incentives and savings is $79,990, excluding taxes and fees. Subject to change.</span>
            <span class="text-white text-sm font-thin decoration-1 underline">Learn about est. gas savings.</span>
        </div>
    </div>
    <div class="absolute top-0 bottom-0 z-10">
        <img  class="object-center object-cover h-full w-screen" src="./model-x.avif"></video>
    </div>
</section>